
<app-background></app-background>
<div class="container">
  
  <div class="section">
   

    <div class="child">
        <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
                <h1 style="margin-left: 100px;">Login</h1>
            </div>
        </div>

        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Email !">
                    <input type="text" nz-input formControlName="userName" placeholder="Email" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password !">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-form-control>
            </nz-form-item>

            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
            Or <a routerLink="/signup">Register Now!</a>
        </form>
    </div>
  </div>
</div>
