<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="../../../assets/images/croissant rouge.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"></h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3 custom-red-underline-bold">Croissant rouge</h1>
              <p class="leading-relaxed mb-3">Le Croissant Rouge Tunisien a joué un rôle majeur dans l'organisation des campagnes de don du sang tout au long de son histoire. Reconnu par le décret officiel majeur du gouvernement du 6 mai 1957 comme organisation d'intérêt public, le Croissant Rouge Tunisien a pour principales attributions d'assister les autorités publiques au secours volontaire, y compris dans le domaine du don de sang.

                Il a constamment travaillé pour promouvoir le don de sang volontaire, bénévole et régulier, et a activement incité les médias à participer à ces campagnes. Le Croissant Rouge Tunisien a participé à de nombreuses Journées Nationales de Don de Sang, destinées à sensibiliser le public à l'importance du don de sang et à encourager le plus grand nombre possible de personnes à devenir des donneurs réguliers.
                
                En collaboration avec l'IFRC (Fédération internationale des Sociétés de la Croix-Rouge et du Croissant-Rouge), le Croissant Rouge Tunisien a mis en œuvre et promu des programmes de don de sang sûrs et durables. Ces efforts ont contribué à garantir une réserve de sang adéquate pour les personnes dans le besoin et ont aidé à sauver d'innombrables vies.
                
                Le Croissant Rouge Tunisien continue d'être un acteur clé dans l'organisation des campagnes de don de sang en Tunisie, démontrant un engagement indéfectible envers la santé et le bien-être de la communauté.</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>0K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>0
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="../../../assets/images/banque du sang.jpeg" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"></h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3 custom-red-underline-bold">Banque du sang</h1>
              <p class="leading-relaxed mb-3">La Banque du Sang en Tunisie, gérée par le Centre National de Transfusion Sanguine (CNTS), joue un rôle crucial dans le système de santé du pays. Sa mission principale est de garantir la disponibilité, la sécurité et la qualité des produits sanguins pour tous les patients qui en ont besoin.

                Pour assurer la sécurité du donneur et du receveur, un entretien médical et des tests biologiques sont effectués avant chaque don. Ces tests permettent de détecter la présence de maladies transmissibles comme l'hépatite B, l'hépatite C, le VIH et la syphilis.
                
                La Banque du Sang est également chargée du contrôle qualité des produits sanguins, garantissant ainsi que chaque unité de sang collectée est sûre et prête à être utilisée. Elle délivre les produits sanguins aux hôpitaux et autres établissements de soins, assurant ainsi un approvisionnement constant en sang et en produits sanguins pour la transfusion.
                
                En outre, la Banque du Sang en Tunisie défend les valeurs universelles du don de sang, à savoir le volontariat, le bénévolat et l'anonymat, comme le stipule la loi 82-26 du 17 mars 1982.
                
                En somme, la Banque du Sang en Tunisie est un maillon essentiel de la chaîne de santé, contribuant à sauver des vies et à améliorer la qualité des soins médicaux dans le pays.</p>
              <div class="flex items-center flex-wrap">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>0K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>0
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="../../../assets/images/condition.jpg" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"></h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3 custom-red-underline-bold">Eligibilité et Alimentation</h1>
              <p class="leading-relaxed mb-3">Pour être éligible au don de sang, une personne doit répondre à plusieurs critères de santé. Tout d'abord, elle doit être en bonne santé, âgée de 18 à 70 ans et peser au moins 50 kilos. L'aptitude au don est déterminée lors d'un entretien préalable au don avec un médecin ou un infirmier de la collecte. Il est important de noter que certaines conditions médicales ou comportements à risque peuvent conduire à une inaptitude temporaire ou définitive au don de sang.

                Après le don de sang, il est important de bien s'hydrater et de manger. Une alimentation riche en fer est recommandée pour aider à la récupération. Les aliments riches en fer comprennent les viandes rouges, les légumes à feuilles vertes, les fruits secs et les céréales enrichies en fer. Il est également conseillé de consommer de la vitamine C, qui aide à l'absorption du fer. Les oranges, les fraises et les poivrons sont de bonnes sources de vitamine C.
                
                Il est également recommandé d'éviter les aliments gras avant le don et de consommer au moins 500 ml d'eau ou de jus avant et pendant le don. Après le don, une collation est souvent fournie pour aider à la récupération rapide du donneur. 
                
                N'oubliez pas que chaque organisme est unique et peut réagir différemment au don de sang. Si vous vous sentez faible ou étourdi après le don, reposez-vous et continuez à boire beaucoup de liquides. Si ces sensations persistent, consultez un médecin.</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>0K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>0
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
