<app-background></app-background>
<div class="container">
  
  <div class="section">
    <div class="header">
      <h1>Welcome to My Service Don Sang</h1>
      <p>Choose your type to get started :</p>
    </div>

    <div class="buttons">
      <button nz-button nzType="primary" routerLink="/signup-donneur">Register as a Donneur</button>
      <button nz-button nzType="primary" routerLink="/signup-hopital">Register as a Hopital</button>
      <button nz-button nzType="primary" routerLink="/signup-association">Register as a Association</button>
      <button nz-button nzType="primary" routerLink="/signup-bank-sang">Register as a Bank du Sang</button>
    </div>
  </div>
</div>
