<app-background></app-background>
<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-left: 5px">Association Sign-up </h1>
            </div>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid FirstName!">
                        <input nz-input placeholder="Name" formControlName="firstName" id="firstName">
                    </nz-form-control>
                </nz-form-item>
  
            
  
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Lieux!">
                        <input nz-input placeholder="Lieux" formControlName="lieux" id="lieux">
                    </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Telephone!">
                        <input nz-input placeholder="Telephone" formControlName="tlf" id="tlf">
                    </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email">
                    </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Password!">
                        <input nz-input placeholder="Password" formControlName="password" id="password" type="password">
                    </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Group Sang!">
                        <input nz-input placeholder="Code-Personnel" formControlName="codePeronelBankSang" id="codePeronelBankSang">
                    </nz-form-control>
                </nz-form-item>
  
                <button nz-button class="btn btn-primary login-form-button login-form-margin" nzType="primary">
                    <em class="fas fa-sign-in-alt"></em>&nbsp;Create an account
                </button>
                Or <a routerLink="/login">login now!</a>
            </form>
        </div>
    </div>
  </div>
  


